*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  backface-visibility: hidden;
}

:root {
  font-size: 1.125rem;
  background-color: #fefefe;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  --timing-function: cubic-bezier(.25, .8, .25, 1);
  --transition-long: 3s var(--timing-function);
  --transition-short: .1s var(--timing-function);
  --background-pad: #efefef;
}

body {
  margin: 0 auto;
  padding: 8px;
  max-width: 800px;
}

img {
  display: block;
  height: auto;
  margin: .5rem 0;
}

textarea {
  display: block;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

button,
input,
textarea {
  cursor: pointer;
}

[hidden] {
  display: none;
}

h1 {
  font-size: 8rem;
  letter-spacing: -.3rem;
}

h2 {
  font-size: 3rem;
  margin-top: 64px;
  margin-bottom: 16px;
  letter-spacing: -.10rem;
}

h3 {
  font-size: 2rem;
  margin-top: 32px;
  margin-bottom: 16px;
  letter-spacing: -.05rem;
}

blockquote {
  background-color: var(--background-pad);
  width: 100%;
  margin: 64px 0;
  padding: 32px;
}

figure {
  display: inline-block;
  background-color: var(--background-pad);
  margin: 64px 0;
  padding: 32px;
}

a:link {
  color: #0074D9;
  transition: color var(--transition-long);
}

a:visited {
  color: #85144b;
  transition: color var(--transition-long);
}

a:hover,
a:focus {
  outline: none;
  color: #FF851B;
  transition: color var(--transition-short);
}

a:active {
  outline: none;
  color: #001f3f;
}

label {
  display: inline-block;
}

label + input,
label + select {
  display: block;
  margin-bottom: 32px;
}

form {
  max-width: 560px;
  margin: 64px auto;
}

fieldset {
  position: relative;
  border: none;
  padding: 32px;
  background-color: var(--background-pad);
}

legend {
  font-size: .8rem;
  position: absolute;
  top: -1rem;
  left: 0;
  color: #aaa;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: text-top;
  line-height: 1.5;
  margin-right: .2rem;
}

form button,
form input[type='submit'],
form input[type='reset'] {
  margin-top: 32px;
}

button,
input[type='submit'],
input[type='reset'] {
  display: inline-block;
  background: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  padding: 3px 12px;
  transition: background-color var(--transition-long);
}

button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus {
  outline: none;
  transition: background-color var(--transition-short);
  background-color: #777;
}
