/*!
 * bipp v1.0.0
 * Copyright Miloslav Voloskov <hello@miloslav.website> (https://miloslav.website)
 * Based on awsm.css by Igor Adamenko <mail@igoradamenko.com> (https://igoradamenko.com)
 */
*,
*::after,
*::before {
  line-height        : 1.5;
  box-sizing         : border-box;
  backface-visibility: hidden;
}

:root {
  font-family           : system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "PT Sans", "Open Sans", "Fira Sans", "Droid Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size             : 100%;
  line-height           : 1.5;
  color                 : black;
  background            : white;
  font-variant-ligatures: common-ligatures;
  text-rendering        : optimizeLegibility;
  font-smoothing        : antialiased;
}

body {
  font-size: 1rem;
  margin   : 1.2em;
}
@media (min-width: 20rem) {
  body {
    font-size: calc(1rem + .00625 * (100vw - 20rem));
  }
}
@media (min-width: 40rem) {
  body {
    font-size: 1.125rem;
  }
}

body article,
body footer,
body header,
body main {
  position : relative;
  max-width: 40rem;
  margin   : 0 auto;
}

body > header {
  margin-bottom: 3.5em;
}

body > header h1 {
  margin: 0;
}

body > header p {
  margin: 0;
}

body > footer {
  font-size     : 0.8rem;
  margin-top    : 6em;
  padding-bottom: 1.5em;
  text-align    : center;
  color         : #aaa;
}

nav {
  margin: 1em 0;
}

nav ul {
  margin    : 0;
  padding   : 0;
  list-style: none;
}

nav li {
  display      : inline-block;
  margin-right : 1em;
  margin-bottom: 0.25em;
}

nav a:visited {
  color: #0064c1;
}

nav a:hover {
  color: #f00000;
}

ol,
ul {
  margin-top  : 0;
  padding-top : 0;
  padding-left: 2.5em;
}

ol li + li,
ul li + li {
  margin-top: 0.25em;
}

ol li > details,
ul li > details {
  margin: 0;
}

p {
  margin : 1em 0;
  hyphens: auto;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

p + ol,
p + ul {
  margin-top: -.75em;
}

p img,
p picture {
  float        : right;
  margin-bottom: 0.5em;
  margin-left  : 0.5em;
}

p picture img {
  float : none;
  margin: 0;
}

dd {
  margin-bottom: 1em;
  margin-left  : 0;
  padding-left : 2.5em;
}

dt {
  font-weight: 700;
}

blockquote {
  margin      : 0;
  padding-left: 2.5em;
}

aside {
  font-style: italic;
  margin    : 0.5em 0;
  color     : #aaa;
}
@media (min-width: 65rem) {
  aside {
    font-size   : 0.8em;
    position    : absolute;
    right       : -12.5rem;
    width       : 9.375rem;
    max-width   : 9.375rem;
    margin      : 0;
    padding-left: 0.5em;
    border-left : 1px solid #f2f2f2;
  }
}

aside:first-child {
  margin-top: 0;
}

aside:last-child {
  margin-bottom: 0;
}

section + section {
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin     : 1.25em 0 0;
}

h1:hover > a[href^='#'][id]:empty,
h1:focus > a[href^='#'][id]:empty,
h2:hover > a[href^='#'][id]:empty,
h2:focus > a[href^='#'][id]:empty,
h3:hover > a[href^='#'][id]:empty,
h3:focus > a[href^='#'][id]:empty,
h4:hover > a[href^='#'][id]:empty,
h4:focus > a[href^='#'][id]:empty,
h5:hover > a[href^='#'][id]:empty,
h5:focus > a[href^='#'][id]:empty,
h6:hover > a[href^='#'][id]:empty,
h6:focus > a[href^='#'][id]:empty {
  opacity: 1;
}

h1 + details,
h1 + p,
h2 + details,
h2 + p,
h3 + details,
h3 + p,
h4 + details,
h4 + p,
h5 + details,
h5 + p,
h6 + details,
h6 + p {
  margin-top: 0.5em;
}

h1 > a[href^='#'][id]:empty,
h2 > a[href^='#'][id]:empty,
h3 > a[href^='#'][id]:empty,
h4 > a[href^='#'][id]:empty,
h5 > a[href^='#'][id]:empty,
h6 > a[href^='#'][id]:empty {
  font-weight    : 400;
  line-height    : 1;
  position       : absolute;
  left           : -.65em;
  text-decoration: none;
  opacity        : 0;
  color          : #aaa;
}
@media (min-width: 40rem) {
  h1 > a[href^='#'][id]:empty,
  h2 > a[href^='#'][id]:empty,
  h3 > a[href^='#'][id]:empty,
  h4 > a[href^='#'][id]:empty,
  h5 > a[href^='#'][id]:empty,
  h6 > a[href^='#'][id]:empty {
    left: -.8em;
  }
}

h1 > a[href^='#'][id]:empty:target,
h1 > a[href^='#'][id]:empty:hover,
h1 > a[href^='#'][id]:empty:focus,
h2 > a[href^='#'][id]:empty:target,
h2 > a[href^='#'][id]:empty:hover,
h2 > a[href^='#'][id]:empty:focus,
h3 > a[href^='#'][id]:empty:target,
h3 > a[href^='#'][id]:empty:hover,
h3 > a[href^='#'][id]:empty:focus,
h4 > a[href^='#'][id]:empty:target,
h4 > a[href^='#'][id]:empty:hover,
h4 > a[href^='#'][id]:empty:focus,
h5 > a[href^='#'][id]:empty:target,
h5 > a[href^='#'][id]:empty:hover,
h5 > a[href^='#'][id]:empty:focus,
h6 > a[href^='#'][id]:empty:target,
h6 > a[href^='#'][id]:empty:hover,
h6 > a[href^='#'][id]:empty:focus {
  opacity   : 1;
  color     : black;
  box-shadow: none;
}

h1 > a[href^='#'][id]:empty:target:focus,
h2 > a[href^='#'][id]:empty:target:focus,
h3 > a[href^='#'][id]:empty:target:focus,
h4 > a[href^='#'][id]:empty:target:focus,
h5 > a[href^='#'][id]:empty:target:focus,
h6 > a[href^='#'][id]:empty:target:focus {
  outline: none;
}

h1 > a[href^='#'][id]:empty::before,
h2 > a[href^='#'][id]:empty::before,
h3 > a[href^='#'][id]:empty::before,
h4 > a[href^='#'][id]:empty::before,
h5 > a[href^='#'][id]:empty::before,
h6 > a[href^='#'][id]:empty::before {
  content: "§ ";
}

h1 {
  font-size: 7.5em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size : 1em;
  margin-top: 1em;
  color     : #aaa;
}

article + article {
  margin-top: 4em;
}

article header p {
  font-size: 0.6em;
  color    : #aaa;
}

article header p + h1,
article header p + h2 {
  margin-top: -.25em;
}

article header h1 + p,
article header h2 + p {
  margin-top: 0.25em;
}

article header h1 a,
article header h2 a {
  color: black;
}

article header h1 a:visited,
article header h2 a:visited {
  color: #aaa;
}

article header h1 a:visited:hover,
article header h2 a:visited:hover {
  color: #f00000;
}

article > footer {
  font-size : 0.85em;
  margin-top: 1.5em;
}

a {
  color: #0064c1;
}

a:visited {
  color: #8d39d0;
}

a:active,
a:hover {
  outline-width: 0;
}

a:hover {
  color: #f00000;
}

a abbr {
  font-size: 1em;
}

abbr {
  font-size      : 0.9em;
  margin-right   : -.075em;
  text-decoration: none;
  letter-spacing : 0.075em;
  hyphens        : none;
}

canvas,
iframe,
img,
select,
svg,
textarea,
video {
  max-width: 100%;
}

button,
input,
textarea {
  cursor: pointer;
}

img,
picture {
  display: block;
  height : auto;
  margin : 0 auto;
}

audio {
  width    : 100%;
  max-width: 100%;
}

figure {
  margin : 1em 0 0.5em;
  padding: 0;
}

figure + p {
  margin-top: 0.5em;
}

figure figcaption {
  font-size: 0.85em;
  opacity  : 0.65;
}

table {
  display              : inline-block;
  overflow-x           : auto;
  max-width            : 100%;
  border-spacing       : 0;
  border-collapse      : collapse;
  text-align           : left;
  vertical-align       : top;
  background           : linear-gradient(rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 100%) 100% 0;
  background-repeat    : no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-size      : 1px 100%, 1px 100%;
}

table caption {
  font-size : 0.9em;
  background: white;
}

table td,
table th {
  font-size     : 0.9em;
  padding       : 0.35em 0.75em;
  vertical-align: top;
  border        : 1px solid #f2f2f2;
  border-top    : 0;
  border-left   : 0;
}

table td:first-child,
table th:first-child {
  padding-left     : 0;
  background-image : linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size  : 2px 100%;
}

table td:last-child,
table th:last-child {
  padding-right      : 0;
  border-right       : 0;
  background-image   : linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat  : no-repeat;
  background-position: 100% 0;
  background-size    : 2px 100%;
}

table td:only-child,
table th:only-child {
  background-image   : linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat  : no-repeat, no-repeat;
  background-position: 0 0, 100% 0;
  background-size    : 2px 100%, 2px 100%;
}

table th {
  line-height: 1.2;
}

form {
  margin-right: auto;
  margin-left : auto;
}
@media (min-width: 40rem) {
  form {
    max-width: 80%;
  }
}

form label,
form select {
  display: block;
}

form label:not(:first-child) {
  margin-top: 1em;
}

form p label {
  display: inline;
}

form p label + label {
  margin-left: 1em;
}

form legend:first-child + label {
  margin-top: 0;
}

form input[type],
form select,
form textarea {
  margin-bottom: 1em;
}

form input[type=checkbox],
form input[type=radio] {
  margin-bottom: 0;
}

fieldset {
  margin : 0;
  padding: 0.5em 1em;
  border : 1px solid #aaa;
}

legend {
  color: #aaa;
}

button {
  font-family  : inherit;
  font-size    : 1em;
  display      : inline-block;
  box-sizing   : border-box;
  width        : auto;
  height       : 2em;
  margin       : 0;
  padding      : calc(.25em - 1px) 0.5em;
  cursor       : pointer;
  color        : black;
  color        : black;
  border       : 1px solid #aaa;
  border-radius: 2px;
  outline      : none;
  background   : white;
  background   : #f2f2f2;
}

button:focus {
  border: 1px solid black;
}

button:hover {
  border: 1px solid black;
}

button:active {
  background-color: #aaa;
}

select {
  font-family        : inherit;
  font-size          : 1em;
  display            : inline-block;
  box-sizing         : border-box;
  width              : auto;
  height             : 2em;
  margin             : 0;
  padding            : calc(.25em 1.2em 1px) 0.5em;
  cursor             : pointer;
  color              : black;
  color              : black;
  border             : 1px solid #aaa;
  border-radius      : 2px;
  outline            : none;
  background         : white;
  background         : #f2f2f2;
  background-image   : url("data:image/svg + xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 3 2\'%3E%3Cpath fill=\'rgb(170, 170, 170)\' fill-rule=\'nonzero\' d=\'M1.5 2L3 0H0z\'/%3E%3C/svg%3E");
  background-repeat  : no-repeat;
  background-position: top 55% right 0.35em;
  background-size    : 0.5em;
  appearance         : button;
}

select:focus {
  border: 1px solid black;
}

select:hover {
  border: 1px solid black;
}

select:active {
  background-color: #aaa;
}

select:focus,
select:hover {
  background-image: url("data:image/svg + xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 3 2\'%3E%3Cpath fill=\'rgb(0, 0, 0)\' fill-rule=\'nonzero\' d=\'M1.5 2L3 0H0z\'/%3E%3C/svg%3E");
}

input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input[type^=date] {
  font-family  : inherit;
  font-size    : 1em;
  line-height  : calc(2em - 1px * 2 - (.25em - 1px) * 2);
  display      : block;
  box-sizing   : border-box;
  width        : 100%;
  height       : 2em;
  margin       : 0;
  padding      : calc(.25em - 1px) 0.5em;
  color        : black;
  border       : 1px solid #aaa;
  border-radius: 2px;
  outline      : none;
  background   : white;
  appearance   : none;
}

input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type^=date]:focus {
  border: 1px solid black;
}

input[type=button],
input[type=reset],
input[type=submit] {
  font-family  : inherit;
  font-size    : 1em;
  display      : inline-block;
  box-sizing   : border-box;
  width        : auto;
  height       : 2em;
  margin       : 0;
  padding      : calc(.25em - 1px) 0.5em;
  cursor       : pointer;
  color        : black;
  color        : black;
  border       : 1px solid #aaa;
  border-radius: 2px;
  outline      : none;
  background   : white;
  background   : #f2f2f2;
  appearance   : none;
}

input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  border: 1px solid black;
}

input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border: 1px solid black;
}

input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
  background-color: #aaa;
}

input[type=color] {
  font-family  : inherit;
  font-size    : 1em;
  line-height  : calc(2em - 1px * 2 - (.25em - 1px) * 2);
  display      : block;
  box-sizing   : border-box;
  width        : 100%;
  width        : 6em;
  height       : 2em;
  margin       : 0;
  padding      : calc(.25em - 1px) 0.5em;
  color        : black;
  border       : 1px solid #aaa;
  border-radius: 2px;
  outline      : none;
  background   : white;
  appearance   : none;
}

input[type=color]:focus {
  border: 1px solid black;
}

input[type=color]:hover {
  border: 1px solid black;
}

input[type=file] {
  font-family  : inherit;
  font-size    : 1em;
  font-size    : 12px;
  line-height  : 1;
  display      : inline-block;
  display      : block;
  box-sizing   : border-box;
  width        : auto;
  width        : 100%;
  height       : 2em;
  height       : auto;
  margin       : 0;
  padding      : 0.75em 0.5em;
  cursor       : pointer;
  color        : black;
  color        : black;
  border       : 1px solid #aaa;
  border-radius: 2px;
  outline      : none;
  background   : white;
  background   : #f2f2f2;
}

input[type=file]:focus {
  border: 1px solid black;
}

input[type=file]:hover {
  border: 1px solid black;
}

input[type=file]:active {
  background-color: #aaa;
}

input[type=checkbox],
input[type=radio] {
  margin        : -.2em 0.75em 0 0;
  vertical-align: middle;
}

textarea {
  font-family  : inherit;
  font-size    : 1em;
  line-height  : calc(2em - 1px * 2 - (.25em - 1px) * 2);
  display      : block;
  box-sizing   : border-box;
  width        : 100%;
  height       : 2em;
  height       : 4.5em;
  margin       : 0;
  padding      : 0.5em - 0.5em 0.5em;
  resize       : vertical;
  color        : black;
  border       : 1px solid #aaa;
  border-radius: 2px;
  outline      : none;
  background   : white;
  appearance   : none;
}

textarea:focus {
  border: 1px solid black;
}

output {
  display: block;
}

code,
kbd,
samp,
var {
  font-family: "Menlo", "Consolas", "Lucida Console", "Monaco", monospace;
  font-style : normal;
}

pre {
  font-size            : 0.8em;
  overflow-x           : auto;
  background           : linear-gradient(rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 100%) 100% 0;
  background-repeat    : no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-size      : 1px 100%, 1px 100%;
}

pre > code {
  display     : inline-block;
  overflow-x  : visible;
  box-sizing  : border-box;
  min-width   : 100%;
  border-right: 3px solid white;
  border-left : 1px solid white;
}

hr {
  height    : 1px;
  margin    : 2em 0;
  border    : 0;
  background: #f2f2f2;
}

details {
  margin: 1em 0;
}

details[open] {
  padding-bottom: 0.5em;
  border-bottom : 1px solid #f2f2f2;
}

summary {
  font-weight  : 700;
  display      : inline-block;
  cursor       : pointer;
  border-bottom: 1px dashed;
}

noscript {
  color: #d00000;
}

::selection {
  background: rgba(0, 100, 193, .25);
}

[hidden] {
  display: none;
}